.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #2b2b2b;
    padding: 10px;
  }
  
  .gridContainer > div {
    background-color: floralwhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }