.gridContainer {
  display: flex;
  justify-content: space-around;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 10px;
    background-color: #2b2b2b;
    overflow: hidden;
  }
  .monthContainer {
    width: 290px;
    height: 210px;
  }