.monthDetailContainer {
  display: flex;
  flex-flow: row wrap;
  background: #2b2b2b;
  box-shadow: -2px 6px 13px 2px;

}

.displayMonth {
  color: #1cd300;
  font-size: 20px;
  padding-left: 80px;
  height: 8%;
}

.monthSelector {
  position: absolute;
  right: 200px;
  align-self: center;
  flex-flow: row wrap;
  padding: 20px;
}

.button {
  color: #ffffff;
  background-color: #303030;
  border: 1px solid black;
  border-radius: 6px;
  width: 75px;
  height: 100%;
  cursor: pointer;
  outline: none;
  font-size: 12px;
  margin: 0px 1px 0px 1px;
}

.button:hover {
  color: #56ff3b;
  background-color: #202020;
  font-size: 14px;
}
.gridContainer {    
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background: floralwhite;
  border: 1px solid #272727;
  box-shadow: -2px 6px 13px 2px;
  overflow: hidden;
  height: 90%;
  }

  .gridItem {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
  }
  .gridItemCurrentDate {
    background: #d0ff96;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    color: orangered;
  }
  .dayGridColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbe8aa;
    border: 1px solid rgb(83, 116, 60);
  }